*{
    margin: o;
    border: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: #FFD66D;
}
img{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 259px;
    height: 327px;
    top: 50px;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    top: 375px;
    font-family: 'Gorditas', cursive;
    font-size: 36px;
    letter-spacing: -0.025em;
    font-weight: 700;
    color: #3E3124;
    text-align: center;
}
.botones{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 550px;
    height: 33px;
    width: 264px;
    
}
button{
    width: 113px;
    height: 33px;
    background: #FAB400;
    border: 2px solid #000000;
    font-family: 'Gorditas', cursive;
    color: #3E3124;
    font-weight: 400;
}